<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Please Confirm your Email</title>
</head>
<body>
    <h1>Confirm your Email</h1>
    <p>Please click the following link to confirm your email address:</p>
    <p><a href="{{ signedUrl }}">Confirm my email</a></p>
    <p>If you did not register, please ignore this email.</p>
</body>
</html>
