{% extends 'base.html.twig' %}

{% block title %}Mes Annonces{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mes Annonces</h1>
        <p>Gérer mes annonces de rendez-vous</p>
    </div>

    {% include 'partials/list.html.twig' with {'pagination': pagination} %}

{% endblock %}
